* {
    margin: 0px;
    padding: 0px;
}

nav {
    position: fixed;
    background-color: #0D5C70;
    width: 100%;
    height: 6.5vh;
}

.navul {
    display: flex;
    flex-direction: row;
}

.navli {
    list-style-type: none;
    color: white;
}

.nava {
    text-decoration: none;
    margin: 0vh 1vh 0vh 1vh;
    padding: 2vh;
}

.nava:hover {
    background-color: #041117;
    cursor: pointer;
}

header {
    background: url("/media/images/bg.jpg");
    width: 100%;
    height: 35vh;
}

main {
    height: 75vh;
    margin-top: 2vh;
}

.mainh1 {
    padding: 10vh 0vh 0vh 5vh;
    color: white;
}

#h2Main {
    padding: 1vh 0vh 0vh 5vh;
    color: white;
    font-size: 1.5rem;
}

.pmain {
    margin: 8vh 0vh 0vh 5vh;
}

.skillsul {
    margin: 3vh 0vh 0vh 7vh;
}

.info {
    margin: 3vh 0vh 0vh 5vh;
}

footer {
    width: 100%;
    height: 3vh;
    background: url("/media/images/bg.jpg");
}

.footerp {
    color: white;
    text-align: center;
}